name: Metaverse Build & Test

on:
  pull_request:
    branches:
      - master
      - pioneer-network-0.1 
  push:
    branches:
      - master

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Set-Up
        run: sudo apt install -y cmake pkg-config libssl-dev git build-essential clang libclang-dev curl

      - name: Install Rustup
        run: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y
          source ~/.cargo/env
          rustup update nightly-2021-06-17
          rustup target add wasm32-unknown-unknown --toolchain nightly-2021-06-17
          rustup default nightly-2021-06-17
      - name: Check Rust version
        run: rustup show
      - name: Check Build
        run: |
          SKIP_WASM_BUILD=1 cargo check --release
#      - name: Run tests
#        run: cargo test
